body {
  margin: 0;
}
#overall-container {
  background-image: url(IMG/background.jpeg);
  background-size: cover;
  display: grid;
  grid-template-rows: 8fr 1fr;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#frame{
  width: 20em;
  padding-bottom: 6em;
}

#show-art {
  z-index: 10;
  display: none;
}

#art-button {
  align-self: start !important;
}