body {
  margin: 0;
  font-family: 'helvetica-neue', sans-serif;
}
#overall-container {
  background-image: url(./../assets/images/background.jpeg);
  background-size: cover;
  display: grid;
  grid-template-rows: 8fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#frame{
  width: 20em;
  padding-bottom: 6em;
  grid-row: 1;
  grid-column: 1;
  z-index: 0;
  justify-self: center !important;
  align-self: center !important;
}

#show-art {
  padding-bottom: 5.6em;
  z-index: 10;
  grid-row: 1;  
  grid-column: 1;
  justify-self: center !important;
  align-self: center !important;
}

#show-art img {
  width: 16.6em;
  height: 20.3em;
}

#art-button {
  align-self: start !important;
  justify-self: center !important;
}

button {
  grid-column: 1;
  outline: none;
  border-style:solid;
  outline: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  border-radius: 1.5em;
  width: 12em;
  height: 3em;
}